<div class="container">
    <div class="links">
        <div>
            <p routerLink="/home" routerLinkActive="active">Home</p>
        </div>
        <div>
            <p routerLink="/posts" routerLinkActive="active">Recipes</p>
        </div>
        <div>
            <p routerLink="/about" routerLinkActive="active">About</p>
        </div>
    </div>
    <div class="search">
        <input type="text" class="formField" placeholder="Search"> 
        <i class="fas fa-search"></i>
    </div>
    
</div>