<div class="container">
    <div class="top">
        <div class="links">
            <p>Home</p>
            <p>Recipes</p>
            <p>About</p>
            <p>Copyright</p>
            <p>Feedback</p>
            <p>Contact me</p>
        </div>
        <div class="icons">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
        </div>
    </div>
    <div class="copyright">
        <div class="p-container">
            <div>
                <p class="pees">&copy;2022 nkorolkov. All rights reserved</p>
            </div>
            <div>
                <p class="pees">Website by Nikita Korolkov</p>
            </div>
        </div>
        
    </div>
</div>