.container {
    font-size: 10px;
    background-color: #d4dee3;
    color: var(--dark-main);
    height: 100%;
    position: relative;
    width: 100%;
   display: flex;
   justify-content: center;
    /* top: -13.5px; */
}



img {
    width: 300px;
    height: 200px;
    border: 1px solid var(--dark-main);
}

.image {
    display: flex;
    justify-content: center;
    position: relative;
    left: -10px;
    padding: 2px;
}

.data {
    margin-top: 0;
}
.dataContainer {
    padding-left: 5px;
    width: 60%;
    background-color: var(--blue-secondary);
}

.imgContainer {
    width: 95%;
    display: flex;
    justify-content: center;
}

/*  */