<div class="container">
    <div class="dataContainer">
        <h1 class="data">{{post.title}}</h1>
        <div class="imgContainer">
            <img src={{post.preview}} alt="preview">
        </div>
        <ul *ngFor="let ingridient of post.ingridients">
            <li>{{ingridient}}</li>
        </ul>
        <div *ngFor="let step of post.steps; index as i">
            <h4>{{i + 1}}: {{step.title}}</h4>
            <p>{{step.body}}</p>
            <div class="image" *ngFor="let image of step.img">
                <img *ngIf="image"  src={{image}} alt="step">
            </div>
        </div>
    </div>
</div>