/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
    --blue-main: #b8d4e2;
    --blue-secondary: #e8eef2;
    --cream-main: #D7CEB2;
    --cream-secondary: #A59E8C;
    --cream-dark: #66635B;
    --dark-main: rgb(31, 31, 31);
  }